.static-width{
    width: 300px;
    height: 300px;
    background: url(https://img.icons8.com/ios-filled/72/flying-duck.png) no-repeat top center;
    background-color: #606060;
    background-size: 200px;
}
