#banner{
    background-color: #606060;
    width: 100%;
    height: 300px;
    background-image: url(https://img.icons8.com/ios-filled/344/flying-duck.png), 
    url(https://png.pngtree.com/png-clipart/20190516/original/pngtree-green-and-purple-pattern-background-png-image_3550420.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, top left;
    background-size: 300px, 100%;
}
