/************************************************************************
* Author - Jack Raven
* Date 19.05.2022
************************************************************************/



/* Style all p tags*/

p{
    font-size: 18px; 
    color: red;
}


#header p {
    font-size: 24px;
}

/* Style al header tags*/

hl{
font-size: 44px;
}